<style type='text/css'>
            body {
                font: 82% arial, sans-serif;
            }
            
            h2 {
                font-size: large;
                margin-top: 35px;
            }
            
            p {
                line-height: 1.25em;
            }
            
            .example {
                background-color: #ddd;
                width: 100%;
                height: auto;
            }
            
            .handlerdiv {
                width: 100%;
                display: block;
                border-top: 2px solid #ddd;
                padding: 5px;
            }
            
            ul {
                list-style-type: none;
				padding-left: 0;
            }
            
            .closing_x {
                height: 15px;
                width: 15px;
                float: right;
                margin-right: 25%;
                cursor: pointer;
            }
            #table_outer{
                max-height:200px;
                overflow: auto;
                overflow-x: hidden;
                width: 85%;
                margin: 0 auto;
            }
            .param_label{
                display: inline-block;
                padding: 10px;
                width: 150px;
            }
            #dynamic_docs{
                height: auto;
                height:1200px;
                overflow: auto;
                overflow-x: hidden;
				margin-left: 300px;
            }
            #main{
                width: 100%;
				margin-top: 20px;
            }
            #nav_menu{
                width: 250px;
				border: 1px gray solid;
				float: left;
				-moz-border-radius: 4px;
				-webkit-border-radius: 4px;
				max-height: 1000px;
				overflow: auto;
				overflow-x:hidden;
            }
			.menuitem{
				border-bottom:1px solid gray;
				height:auto;
				padding:5px 0 5px 20%;
				text-align:left;
				width:100%;
			}
			#nav_menu h2{
				text-align: center;
			}
            .methodlist{
                padding: 5px 0 0 10px;
            }
            .methoditem{
                padding: 3px 3px 0 3px;
                width: 60px;
            }
        </style>