<!DOCTYPE HTML>
<html>
    <head>
        <style type='text/css'>
            body {
                font: 82% arial, sans-serif;
            }
            
            h2 {
                font-size: large;
                margin-top: 35px;
            }
            
            p {
                line-height: 1.25em;
            }
            
            .example {
                background-color: #ddd;
                width: 100%;
                height: auto;
            }
            
            .handlerdiv {
                width: 100%;
                display: block;
                border-top: 2px solid #ddd;
                padding: 5px;
            }
            
            ul {
                list-style-type: none;
            }
        </style>
		<script type='application/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
    </head>
    <body>
        <a name='top'><h1>{{servername}} API Documentation</h1></a>
        Developer: {{developer_email}}
        <br/>
        Try calls in the <a href='/{{servername}}/services/apiconsole'>API Console</a>
        <br/>
        Appiction strives to develop webservices in a RESTful style, if you are not familiar 
        with our API's, please check out the notes on data formats and return values <a href='#dataformat'>here.</a>
		
		Feel free to email the developer with questions, or hop into #appiction-dev on freenode
		(If you don't have an IRC client installed, you can just go <a href='staging.appiction.com'>here</a>
        <h2>Resources</h2>
        <ul>
            {% for handler in handlers %}
            <li>
                <a href='#{{handler.name}}'>{{handler.name}}</a>
            </li>
            {% endfor %}
        </ul>
        {% for handler in handlers %}
        <div class='handlerdiv'>
            <a name='{{handler.name}}'><h2 class='handler_name'>{{handler.name}}</h2></a>
            {%for method in handler.methods %}
            <div style='margin-top:25px;'>
                <b style='color:red;'>{{method.request_method}}</b>
                /{{servername}}{{method.url}}
            </div>
            <div style='margin-left: 30px;'>
                {% autoescape off %}
                {{method.comment}}
                {% endautoescape %}
            </div>
            {% if method.auth_required %} <i style='margin-left:30px'>Requires Authentication</i>{% endif %}
            <p style='margin-left:30px'>
                <strong>Parameters</strong>
            </p>
            <ul class='paramlist'>
                {% if method.params %} 
                {% for param in method.params %}
                <li>
                    <b>{{param.name}}</b>
                    -- <i>{{param.type}}</i>
                    {%ifequal param.required '0' %}(optional){%endifequal%} {% autoescape off %}{{param.comment}}{% endautoescape %}
                </li>
                {% endfor %}
                {%else %}
                None
                {% endif %}
				{% if method.example_response %}
				<a href="#{{handler.name}}" onclick="$('#{{handler.name}}{{method.request_method}}').toggle()">See Example</a>
				<div id='{{handler.name}}{{method.request_method}}' style='display:none'><pre>{{method.example_response}}</pre></div>
				{% endif %}
            </ul>
            {% endfor %} <a href='#top' style='margin-top:20px;display:block;'>Return to top</a>
        </div>
        {%endfor %} <a name='dataformat'><h2>Notes on data format and return values.</h2></a>
        <p>
        The format of return values default to JSON. In order to switch to another format, you can:
        <ul>
            <li>
                Specify 'text/xml' or 'application/json' in the 'Accept' header of your request
            </li>
            <li>
                provide a format in the url, such as GET /user?format=xml
            </li>
        </ul>
        All responses contain 3 values:
        <ul>
            <li>
                <i>success</i>
                This is a boolean value indicating the success/failure of the request
            </li>
            <li>
                <i>data</i>
                Here you will find the actual data (if any) of the response
            </li>
            <li>
                <i>errors</i>
                A list of errors that occured during the request.
            </li>
        </ul>
        For example, creating a new user, with JSON, might return:<pre class='example'>
{
    "success": true,
    "errors": [], 
    "data": {
        "user": {
            "username": "foo@bar.com", 
            "id": 3
        }
    }, 
}
			</pre>
        or, if there was an error:<pre class='example'>
{
    "errors": [
        "Email already in use"
    ], 
    "data": {}, 
    "success": false
}
			</pre>
        in XML:<pre class='example'>
&lt;?xml version='1.0' encoding='utf-8'?&gt;
  &lt;response&gt;
    &lt;errors/&gt;
    &lt;data&gt;
      &lt;user&gt;
        &lt;username&gt;baz@bar.com&lt;/username&gt;
        &lt;id&gt;4&lt;/id&gt;
      &lt;/user&gt;
    &lt;/data&gt;
    &lt;success&gt;True&lt;/success&gt;
  &lt;/response&gt;
&lt;/pre&gt;
			
		</pre>
        or:<pre class='example'>
<?xml version='1.0' encoding='utf-8'?>
&lt;response&gt;
  &lt;errors&gt;
    &lt;resource&gt;Email already in use&lt;/resource&gt;
  &lt;/errors&gt;
  &lt;data/&gt;
  &lt;success&gt;False&lt;/success&gt;
&lt;/response&gt;	
	
	
</pre>
    </body>
</html>
