<!DOCTYPE HTML>
<html>
    <head>
        <style type='text/css'>
            body {
                font: 82% arial, sans-serif;
            }
			h2{
				font-size: large;
				margin-top: 35px;
			}
			p{
				line-height:1.25em;
			}
        </style>
    </head>
    <body>
    	<h1>{{servername}} API Documentation</h1>
        {% for handler in handlers %}<hr/><h2 class='handler_name'>{{handler.name}}</h2>
		
        {%for method in handler.methods %}
        <div style='margin-top:25px;'>
            <b>{{method.request_method}}</b> {{method.url}}
        </div>
		<div style='margin-left: 30px;'>{% autoescape off %}
            {{method.comment}}
		{% endautoescape %}</div>
        <ul class='paramlist'>
        	{% if method.params %}
            <p><strong>Parameters</strong></h3>
            {% for param in method.params %}
            <li>
                <b>{{param.name}}</b>
                -- <i>{{param.type}}</i>
                {%if not param.required %}(optional){%endif%} {{param.comment}}
            </li>
            
            {% endfor %}
			{% endif %}
        </ul>
		
        {% endfor %} 
        {%endfor %} 
    </body>
</html>
