<!doctype html>
<html>
    <head>
        <script type="text/javascript">
            
            function socialTest(){
                var input = document.getElementById('url');
                var form = document.getElementById('socialForm');
                form.action = input.value;
                form.submit();
                return false;
            }
        
            
        </script>
    </head>
    <h3> facebook or twitter</h3>
    <form id="socialForm" action='' method='POST'>
        URL<input id='url' type='text' value='facebook'></input>
        <button type='button' onclick='return socialTest()'>
            Submit
        </button>
    </form>
</html>
