<!doctype html>
<html>
    <head>
        <script type="text/javascript">
            
            function socialTest(){
                var input = document.getElementById('url');
                var form = document.getElementById('socialForm');
                form.action = "{{baseURL}}" + input.value;
                form.submit();
                return false;
            }
        
            
        </script>
    </head>
    <h3>Network Name:</h3>
    <form id="socialForm" action='' method='POST'>
        POST to {{baseURL}}<input id='url' type='text' value='facebook'></input>
        <button type='button' onclick='return socialTest()'>
            Submit
        </button>
    </form>
</html>
